body {
    font-family: 'Rubik', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Rubik Mono One', sans-serif;
  }
  
  .small {
    font-weight: 300;
    font-style: italic;
  }


  p {
    margin-top: 0;
    margin-bottom: 0rem;
  }

  span {
    font-weight: bold;
    font-size: 30px;
    color: rgb(228, 247, 22);
  }

  .custom-toggler{
    font-size: 0.5rem;
    padding: 0.2rem 0.2rem;
    margin-right: 1.0rem;
  }